{% extends 'base.html' %}

{% block content %}

    <div class="row justify-content-center">
        {% for object in object_list %}
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card text-white shadow {% if object.completed %}bg-primary{% else %}bg-warning{% endif %} mx-3">
                    <div class="card-body">
                        <h5 class="card-title text-center font-weight-bold mb-3">{{ object.title }}</h5>
                        <p class="card-text text-center mb-4">{{ object.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}


